coverage
node_modules
example
**/tests
src
.idea
.babelrc
.codeclimate.yml
.env*
.editorconfig
.eslintrc
.gitignore
.gitmodules
.travis.yml
.yarnrc
CODEOWNERS
ISSUE_TEMPLATE.md
PULL_REQUEST_TEMPLATE.md
